<!DOCTYPE html>
<html>
  <head>
    <title>RailsStupidCoaching</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-image: url('http://www.latimes.com/resizer/DjZnm6zSHchdghkJBe7XvIWjmZk=/1400x0/arc-anglerfish-arc2-prod-tronc.s3.amazonaws.com/public/XLEYEAJR7VGMZJKKC2GATD7MEI.jpg'); background-size: cover; ">
    <%= yield %>
  </body>
</html>
